{% extends "main/index.html" %}
{% block content %}
<body>
    <main>
        <section class="about">
            <div class="container">
                <h2>Добавить новый пост</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn primary">Опубликовать</button>
                    <a href="{% url 'home' %}" class="btn ghost">Отмена</a>
                </form>
            </div>
        </section>
    </main>
</body>
{% endblock %}